<!-- components/footer.html -->
<div class="footer-bg">
  <footer class="site-footer container layout-wrapper">
    <div class="footer-grid">
      <div class="footer-brand">
        <img src="/assets/images/global/dental-fix-footer-logo.png" alt="The Dental Fix Logo" class="footer-logo">
        <h2 class="footer-title">Dental Care for the<br>Whole Family</h2>
      </div>
      <div class="footer-contact">
        <h3 class="footer-col-title">Contact</h3>
        <div class="footer-contact-links">
          <a href="mailto:thedentalfix@gmail.com" class="footer-mail-link"><i class="fa-solid fa-envelope"></i>thedentalfix@gmail.com</a>
          <a href="tel:+919552665665" class="footer-call-link"><i class="fas fa-phone"></i>+91 9552 665 665</a>
        </div>
        <!-- <h3 class="footer-col-title">Follow Us</h3> -->
        <div class="social-icons">
          <a href="https://www.facebook.com/thedentalfix" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/thedentalfix/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.linkedin.com/company/the-dental-fix/?viewAsMember=true" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-address">
        <h3 class="footer-col-title">Address</h3>
        <address class="footer-address-block">
          <div class="address-content">
            <!-- <i class="fas fa-location-dot"></i> -->
            <div>
              <span>Office: 209, Marvel Sangria Boulevard,</span>
              <span>Above TR Wines, NIBM,</span>
              <span>Corianthian Club Road, Undri,</span>
              <span>Pune- 411060, Maharashtra</span>
            </div>
          </div>
        </address>
      </div>
      <div class="footer-hours">
        <h3 class="footer-col-title">Clinic Hours</h3>
        <div class="footer-hours-group">
          <div class="hours-content">
            <!-- <i class="fa-solid fa-clock"></i> -->
            <div>
              <div class="hours-block">
                <span class="footer-hours-day">Monday to Saturday</span>
                <span class="footer-hours-time">10:00 AM – 2:00 PM</span>
                <span class="footer-hours-time">5:00 PM – 9:00 PM</span>
              </div>
              <div class="hours-block">
                <span class="footer-hours-day">Sunday</span>
                <span class="footer-hours-time">5:00 PM – 9:00 PM</span>
              </div>
              <div class="hours-block">
                <span class="footer-hours-day">Thursday closed</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="social-icons mobile">
        <a href="https://www.facebook.com/thedentalfix" aria-label="Facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/thedentalfix/" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/company/the-dental-fix/?viewAsMember=true" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-links">
        <a href="/privacy-policy">Privacy & Policy</a>
        <a href="/terms-conditions">Terms & Conditions</a>
      </div>
      <p>TheDentalFix © 2025. All Rights Reserved.</p>
    </div>
  </footer>

  
  <!-- WhatsApp Floating Button -->
  <a href="https://wa.me/+919552665665" 
     class="whatsapp-button" 
     id="whatsappBtn"
     target="_blank" 
     rel="noopener" 
     aria-label="Chat on WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</div>